
/* السلام عليكم يا مس اتمنى ان الشغليكون كله زي المطلوب 
لانه انا تعبت جدا بالحل عالرغم من انه النتيجة لم تعجبني جدا ولكن انا احاول رغم قلة الامكانيات 
والاعتماد عالنفس بشكل كامل اتمنى ان تراعي جهودنا 
هذا هو اول تصميم لي اعرف انه ليس محترف متل المواقع الموجودة على النت لاني كنت بتعلم 
وحرفيا تعلمت جدا يعني ان اشاء الله بالتصميم التاني هتجنب كتير اشياء 
استخدمتها هنا زي مثلا (fieldset)
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* <<<<---------start body design---------->>>>>> */
body{
    background-color: #f3bfe6;
    background-image: url(images/body.jpeg);
    background-size: cover; /*جعل الصورة عل حجم الصفحة كلها*/
    background-repeat: no-repeat; /* عشان ما تتكرر*/
    background-position: center; /*توسيطها*/
    background-attachment: fixed; /*عشان تكون ثابتة اثناء التمرير*/
    font-family: Arial, sans-serif;
}
/* <<<<---------end body design---------->>>>>> */

/* <<<<---------start main design---------->>>>>> */
main{
    background-color: #4d02486b;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    direction: rtl;
}

h1{
    font-size: 30px;
}

h1, h2, h3 {
    color: #f792f1; /* لون العناوين */
    margin-bottom: 8px;
    text-shadow: 2px 2px 5px black;
}

main p {
    color: rgb(218, 201, 233); /* لون نص الفقرات */
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 20px;
}
/* <<<<---------end main design---------->>>>>> */

/* <<<<---------start header and footer design---------->>>>>> */

header, footer{
    background-color: #4d02486b;
    padding: 20px;
    border-radius: 10px;
    color: white;
    direction: rtl;
}

header{
    height: 100px;
}

footer{
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}
footer a{
    text-decoration: none;
    color: rgb(226, 120, 182);
    margin: 10px;
}
footer p{
    line-height: 1.5;
    text-shadow: 2px 2px 2px #1d0329;
}
footer a:hover{
    color: #ffffff;
}
/* <<<<---------end header and footer design---------->>>>>> */

/* <<<<----start nav part design---->>>>> */

nav {
    overflow: hidden;
    padding: 10px 20px;
    float: left;
}
nav ul{
    list-style-type: none;
}
nav ul li {
    float: right;
    padding-left: 10px;
}
nav ul li a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(218, 201, 233);
    font-weight: bold;
}
nav ul li a:hover{
color: #f3bfe6;
}
/* <<<<----end nav part design---->>>>> */

.images{
    margin: auto;
    /* background-color: rgba(244, 239, 246, 0.119); */
    border-radius: 20px;
    min-height: 500px;
    width: 950px;
    padding: 10px;
    overflow: hidden;
}
/*<<<-----start homepage design----->>>*/

/*<<<-----start hello,whay and im classes design in homepage----->>>*/

.hello, .whay{
    height: 150px;
    width: fit-content;
    border-radius: 10px;
    line-height: 50px;
    background-color: rgba(162, 90, 191, 0.7);
    margin: auto;
    padding: 20px;
}

.im h2{
    margin: 20px 200px 0px;
}
/*<<<-----end hello,whay and im classes design in homepage----->>>*/

/*<<<-----start images class design in homepage---->>>*/

.images figure{
    background-color: #f3bfe62d;
    text-align: center;
    display: inline-block;
    vertical-align: top;    /* لمحاذاة العناصر فوق بعض */
    width: 28%;         /* تقدير عشان اعرض 3 صور جنب بعض */
    margin: 10px;   /*مسافة بين الصور*/  
    border-radius: 20px;
    box-sizing: border-box; /* يحسب padding مع العرض */
    padding: 10px;
}
.images figure figcaption{
    font-size: 20px;
    margin-top: 8px;
}
.images figure img{
    border: 3px solid #f3bfe6;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.images figure img:hover{
    border: 5px solid #ffffff;
    border-radius: 20px;
}
/*<<<-----end images class design in homepage---->>>*/

/*<<<-----start video class design in homepage---->>>*/

.video{
    background-color: rgba(162, 90, 191, 0.7);
    padding: 20px;
    margin: 15px auto;
    text-align: center;
    width: 40%;
    border-radius: 10px;
}

.video iframe {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}
/*<<<-----end video class design in homepage---->>>*/

/*<<<-----end homepage design----->>>*/

/*<<<-----start signup and contactus design---->>>*/

/*<<<-----start [ log ]class design in signup and in contactus---->>>*/

.log{
    width: 500px;
    min-height: 450px;
    font-size: 25px;
    line-height: 60px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.log fieldset{
    background-color: rgba(162, 90, 191, 0.4);
}
.sign .log h2{
    text-align: center;
    font-size: 50px;
}

.log p {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}
.sign .log h2:hover{
    color: white;
    text-shadow: 3px 3px 5px black;
}

.log form{
    padding: 20px;
    font-weight: bold;
    color: #ebe8e8;
    text-shadow: 3px 3px 5px black;
    border-radius: 20px;
    margin-bottom: 10px;
}

.sign .log form {
    background-color: rgba(162, 90, 191, 0.4);
}

.log form .r, textarea{
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid #f3bfe6;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    overflow: hidden;
}

textarea{
    height: 60px;
    margin-top: 20px;
}
input::placeholder {
    color: rgb(255, 255, 255);
    font-style: italic;
}
.log form .r:hover, input:hover::placeholder, textarea:hover {
    background-color: #ffffff;
    border-width: 3px;
    color: rgb(24, 1, 1);
}

.sign .log form input[type="radio"], .sign .log form input[type="checkbox"]{
    accent-color: #a25abf; /* لتغيير لون الراديو نفسه */
    width: 18px;
    height: 18px;
    margin: 5px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #a25abf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    display: block;
    margin: 20px auto; 
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #803e9e;
}

/*<<<-----end [ log ]class design in signup and in contactus---->>>*/

/*<<<-----end signup design---->>>*/

/*<<<-----start map class desin in contactus---->>>*/

.map {
    text-align: center;
    margin: 30px 0;
}

.map iframe {
    border: 3px solid #a25abf;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

/*<<<-----end map class desin in contactus---->>>*/

/*<<<-----end contactus design---->>>*/


.banner {
    text-align: center;
    width: 500px;
    border-radius: 10px;
    line-height: 50px;
    background-color: rgba(162, 90, 191, 0.7);
    margin: 20px auto;
    padding: 20px;
}

.change{
    border-color: #1d0329;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(185, 167, 192, 0.7);
    margin: auto;
    padding: 20px;
    font-weight: bold;
}